body{
	padding: auto;
	margin: 0;
}

header{
	width: auto;
	display: inline;
}

nav> ul{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0%;
	margin: 0;
}

nav> ul> li{
	background-color: #609ebf;
	padding-top: 1%;
	width: 33.2%;
	color: white;
	text-align: center;
}

nav> ul> li> p{
	padding-top: 0;
}

section{
	width: 75%;
	margin: 1% 12%;
}

section> ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	width: 100%;
	padding: 0;
	margin: 0;
}

section> ul> li{

	background-color: rgba(230, 230, 230, 25%);
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 25%);;
	width: 15%;
	min-width: 100px;
	margin: 1%;
	padding: 3%;
	text-align: center;
	color: #609ebf;
	font-size: 18px;
}

section> ul> li> p{
	overflow: hidden;
	margin-bottom: 0;
}

section> ul> li:hover{
	background-color: #99c5dd;
	/*Animation*/
	transform: rotate(5deg);
}

footer{
	text-align: center;
}

li {
	list-style: none;
}

footer{
	background-color: #609ebf;
}

footer> p{
	margin: 0;
	padding: 2% 0%;
}

nav> ul> li> p{
	margin: 0;
	padding-top: 1%;
}

#saludo, #nombre{
	display: inline;
}

#titulo-index{
	margin: 0;
}

.portada{
	height: 150px;
	max-width: 100%;
}

.main-tarjeta{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10% 0%;
}

.round-img {
	border-radius: 20% 0% 0% 0%;
}

.tarjeta {
	margin-left: .5%;
	border: 1px solid black;
	padding: 0% 2%;
	box-shadow: 7px 5px 0px rgba(0, 0, 0, 50%);
}

#titulo-tarjeta{
	color: orange;
}

.lista{
	display: flex;
}

.preguntas{
	width: 70%;
}

#respuestas{
	width: 100%;
}

#email{
	display: inline;
}

.email{
	display: inline;
}

a{
	display: block;
	text-decoration: none;
	color: #609ebf;
	overflow: hidden;
}

a:focus{
	color: red;
}

.email{
	display: inline;
}

.email:link{
	color: orange;
}

.email:focus{
	color: red;
}

#error{
	color: #609ebf;
	margin: 25% 0%;
}

@media  (max-width: 768px) {
	body{
		font-size: 10px;
	}

	section> ul> li{
		margin: 3% 1.5%;
	}

	.tarjeta{
		width: 50%;
		min-width: 280px;
	}

	.round-img{
		width: 200px;
		height: 250px;
		margin-bottom: 5%;
	}
}
  
@media (min-width: 769px) {
	body{
		font-size: 14px;
	}
	
	.tarjeta{
		width: 45%;
		min-width: 480px;
	}

	.round-img{
		width: 200px;
		height: 100%;
	}
}
  